streamlit==1.35.0
openai==1.30.0
langchain==0.2.5
langchain-openai==0.1.8
langchain-community==0.2.5
pandas==2.2.2
python-dotenv==1.0.1
sqlite3-api==2.0.1
Jinja2==3.1.4
smtplib2==0.2.1
pydantic==2.7.4
plotly==5.22.0
requests==2.32.3
